{
  "presets": [
      [
        "airbnb",
        {
          "targets": {
            "chrome": 50,
            "firefox": 45
          }
        }
      ],
      "react"
  ],
  "plugins": [
    "transform-class-properties",
    "syntax-dynamic-import"
  ]
}